.button {
  display: inline-grid;
  place-content: center;

  cursor: pointer;

&:hover,
&:focus {
   outline: none;
 }

&.primary {
   --button-color: var(--color-primary);
   --button-color-hover: var(--color-primary-hover);
   --button-color-fade: var(--color-primary-fade);
 }

&.danger {
   --button-color: var(--color-danger);
   --button-color-hover: var(--color-danger-hover);
   --button-color-fade: var(--color-danger-fade);
 }

&.solid {
   background-color: var(--button-color);
   color: var(--color-white);

   border: none;

&:hover,
&:focus {
   background-color: var(--button-color-hover);
   box-shadow: var(--shadow);

   outline: none;
 }
}

&.outlined {
   background-color: var(--color-surface-400);
   color: var(--button-color);

   border: 1px solid var(--button-color);

&:hover,
&:focus {
   background-color: var(--button-color-fade);
 }
}

&.ghost {
   background-color: transparent;
   color: var(--button-color);

   border: none;

&:hover,
&:focus {
   background-color: var(--button-color-fade);
 }
}

&.small {
   block-size: 1.5rem;

svg {
  block-size: 1rem;
  inline-size: auto;
}
}

&.medium {
   block-size: 2.25rem;

svg {
  block-size: 1.25rem;
  inline-size: auto;
}
}

&.large {
   block-size: 3rem;

svg {
  block-size: 1.5rem;
  inline-size: auto;
}
}

&.rectangle {
&.medium {
   padding-inline: 0.5rem;
 }

&.large {
   padding-inline: 0.75rem;
 }
}

&.rectangle,
&.square {
   border-radius: 0.25rem;
 }

&.square,
&.circle {
   aspect-ratio: 1 / 1;
 }

&.circle {
   border-radius: 999rem;
 }
}